{% extends 'base.html' %}

{% block right-side %}
<div class="main-wrapper">
	<article class="blog-post px-3 py-5 p-md-5">
		<div class="container">
					<h1 style="font-family: 'Fugaz One', cursive;">Welcome to RexTech</h1>
					<br>
					<h5 style="font-family: 'Lobster', cursive;">Lời nói đầu: </h5>
					<p>RexTech là một blog, một diễn đàn về công nghệ, được thành lập vào ngày <b>30/10/2019</b>. 
						Đây là nơi chia sẻ, kết nối cộng đồng về công nghệ nói chung và về lập trình nói riêng. 
						Tại đây bạn có thể đăng kí thành viên, theo dõi các thông tin, 
						kiến thức và các khoá học được cập nhật liên tục, mang lại niềm đam mê cho bạn trẻ yêu công nghệ,...</p>
					<b>Tính năng chính:</b>
					<br>
					<p>
						<br><i class="fas fa-check"></i> Đăng kí thành viên <br>
						<i class="fas fa-check"></i> Viết blog <br>
						<i class="fas fa-check"></i> Chia sẻ tài liệu về lập trình <br>
						<i class="fas fa-check"></i> Hỏi đáp về công nghệ</p>
					<h5 style="font-family: 'Lobster', cursive;">Nguồn cung cấp: </h5>
					<p>- Django-Documentation: <a href="https://docs.djangoproject.com/en/2.2/">https://docs.djangoproject.com/en/2.2/</a>
					<br>
					- Djangobook: <a href="https://djangobook.com/">https://djangobook.com/</a>
					<br>
					- Stackoverflow <a href="https://stackoverflow.com/">https://stackoverflow.com/</a>
					
		
	</article>
	<div class="footer" style="position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #838a85;
    text-align: center;
    padding-bottom: 15px;">
    <div style="text-align: right; padding-right: 8px;">
            <br>
            Copyright <b>©</b> 2019 <b style="font-family: 'Kanit', sans-serif;">All right Reverser</b> |</b> This website is make by @ <b style="font-family: 'Kanit', sans-serif;">KT Vũ</b> with <i class="fas fa-heart"></i> <br> Ver 1.0 Alpha test</div>
          </div>
</div>
{% endblock %}