{% extends 'base.html' %}

{% block right-side %}
    <div class="main-wrapper">
	    <article class="blog-post px-3 py-5 p-md-5">
		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2" style="font-family: 'Montserrat', sans-serif;">{{post.title}}</h2>
				    <div class="meta mb-3"><span class="date">{{post.date_published}}</span>Post by : <span class="comment"><a href="{% url 'profile' profile_author.id %}"><b>{{post.author}}</b></a></span></div>
			    </header>
			    <div class="blog-post-body">
				    
					<p style="font-family: 'Open Sans', sans-serif;">{{post.content}}</p>
				</div>
				<br>
				<hr>
				{% if user.is_authenticated %}
				<div>
					<form action="" method="POST">
						{% csrf_token %}
						{{form_comment.as_p}}
						<button type="submit" class="btn btn-primary">Post</button>
					</form>
				</div>
				<br>
				<hr>
				{% endif %}
				<b>Nhận xét gần đây</b>
				{% for list in list_comment %}
				<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
				<div class="row">
					<div class="col-md-12">
						<div class="media g-mb-30 media-comment">
							<img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{{list.user_id.img.url}}" alt="Image Description">
							<div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
							<div class="g-mb-15">
								<h5 class="h5 g-color-gray-dark-v1 mb-0" style="color: #42f5a7; font-family: 'Baloo Bhaina', cursive;"><a href="{% url 'profile' list.user_id.id %}" style="text-decoration: none;"><i class="far fa-user"></i> {{list.user_id}}</a></h5>
								<span class="g-color-gray-dark-v4 g-font-size-12" style="
								font-family: 'Darker Grotesque', sans-serif;">{{list.comment_time}}</span>
							</div>
							<p style="font-family: 'Montserrat', sans-serif;">{{list.comment_box}}</p>
							<ul class="list-inline d-sm-flex my-0">
									<li class="list-inline-item ml-auto">
									{% if user.is_authenticated %}
									<a href="#" aria-pressed="true" style="text-decoration: none;"><span class="badge badge-primary">{{list.count}}</span> Nhận xét <i class="fas fa-comments"></i></a>
									{% endif %}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
		    </div>
	    </article>
	</div><!--//main-wrapper-->

    {% endblock %}
    

</body>
</html> 

