{% extends 'base.html' %}

{% block right-side %}
<div class="main-wrapper">
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <div class="item mb-5">
                <div class="row">
                    <div class="col-7">
                        <h3>Cập nhật thông tin</h3>
                        <br>
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <div class="footer" style="position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #838a85;
    text-align: center;
    padding-bottom: 15px;">
    <div style="text-align: right; padding-right: 8px;">
            <br>
            Copyright <b>©</b> 2019 <b style="font-family: 'Kanit', sans-serif;">All right Reverser</b> |</b> This website is make by @ <b style="font-family: 'Kanit', sans-serif;">KT Vũ</b> with <i class="fas fa-heart"></i> <br> Ver 1.0 Alpha test </div>
          </div>
</div>
{% endblock %}